lib-cov
*.seed
*.log
*.ipc
*.csv
*.dat
*.out
*.pid
*.gz
*.log.naught
.shipit

*.idea
.idea/*
.nyc_output
gameserver.iml

.strong-pm
.strong-pm/*

profile_cache
scripts/mixpanel/input
scripts/mixpanel/output
scripts/out
scripts/redis-cluster/dump*
pids
logs
coverage
results
node_modules
!scripts/aws-lambda/unzip-assets/node_modules
out
report

npm-debug.log
.idea
.vscode

balance_results.txt

dump.rdb

.DS_Store
docker/vault/*

report

.env

mochawesome-report/
/.clinic/**
/*.0x/**
